<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WJSliderView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4CF5D6981C23E80C00B762D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CF5D6B11C23E80C00B762D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CF5D6BC1C23E80C00B762D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
